* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #f3f4f7; */
  color: #1d2b49;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.container {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  background-color: #8ea4d2;
  border-radius: 20px;
}
#form {
  margin: 1em;
}

/* Typography*/
h2 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding: 0.05em 0;
  margin: 1em auto;
  border-bottom: 4px solid #1d2b49;
}
label {
  font-weight: 700;
}
input {
  padding: 1em 0.5em;
  margin: 1em 2em 1em 1em; /*changed bottom margin value here*/
  width: 95%;
  background-color: #f3f4f7;
  border: 2px solid #1d2b49;
  border-radius: 15px;
}

button {
  padding: 0.75em 2em;
  margin: 2em auto;
  color: #f3f4f7;
  font-size: 1rem;
  font-weight: 700;
  background-color: #1d2b49;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover,
button:focus {
  background-color: #1d2b49;
  color: #8ea4d2;
  cursor: pointer;
}
#form {
  width: 80%;
}
.form-error {
  margin: 0 auto;
  padding: 0;
  color: #03045e;
  font-size: 0.85rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
